<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="File" class="org.apache.log4j.RollingFileAppender">
        <param name="encoding" value="utf-8"/>
        <param name="File" value="${catalina.home}/logs/nebula-monitor-service.log"/>
        <param name="Append" value="true"/>
        <param name="MaxFileSize" value="128MB"/>
        <param name="MaxBackupIndex" value="5"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %p %l [%t] - %m%n"/>
        </layout>
    </appender>

    <logger name="org.nebula.framework.client">
        <level value="INFO"/>
        <appender-ref ref="File"/>
    </logger>

    <logger name="org.nebula.framework.workflow">
        <level value="INFO"/>
        <appender-ref ref="File"/>
    </logger>

    <logger name="org.nebula.framework.activity">
        <level value="INFO"/>
        <appender-ref ref="File"/>
    </logger>

    <root>
        <level value="INFO"/>
        <appender-ref ref="File"/>
    </root>

</log4j:configuration>
